@model IEnumerable<Library_management.Models.Book>;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 class="text-center ">รายการหนังสือ</h1>

        <div class="container-xl">
           <form asp-action="Index" method="post" class="row g-3">
            <div class="input-group mb-3">
              <input class="form-control" name="search_bar">
            <select class="form-select" name="categories">
                <option selected value="All">All</option>
                <option value="English Books">English Books</option>
                <option value="Chinese Books">Chinese Books</option>
                <option value="Japanese Books">Japanese Books</option>
                <option value="Thai Books">Thai Books</option>
                <option value="Comic/Manga">Comic/Manga</option>
            </select>
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
            </div>
            </form>
    @if (Model.Count() > 0)
    {

    <div class="row row-cols-4 container-xl ">
            @foreach(var book in Model){
            <div class="row p-4">
                <div class="card " style="width:18rem;">
                    <img src="data:image/jpg;base64,@book.Image" class="img-thumbnail  d-block py-2" alt="..." style="width:140px;height:187px">
                    <div class="card-body">
                            <a asp-route-id="@book?.Id" asp-action="Detail" class="card-title text-decoration-underline">@book.Title</a>
                            @if (book.IS_borrow)
                            {
                                <div asp-route-id="@book?.Id" asp-action="Return" class="" style="">สถานะหนังสือ:&nbsp;<b class="text-danger">ไม่ว่าง</b></div>
                            }
                            else
                            {
                                <div asp-route-id="@book?.Id" asp-action="ConfirmBorrow" class="" style="">สถานะหนังสือ:&nbsp;<b class="text-success">ว่าง</b></div>
                            }
                                </div>

                        
                    </div>
                    <a asp-route-id="@book?.Id" asp-action="ConfirmBorrow" class="d-flex justify-content-center border-1 border text-decoration-none text-black px-5">more detail</a>
               </div>
        
            }
    </div>
    }
</div>

@section scripts{
    <script>
        function displayAlert(bookID){
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title: "Deleted!",
                        text: "Your file has been deleted.",
                        icon: "success"
                    });
                }
            });
        }
    </script>
}
