@model IEnumerable<Library_management.Models.Book>;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@if(Model.Count() > 0){
<h1 class="text-center">หนังสือทั้งหมด</h1>
<div class="container-md">
    <div class="row row-cols-3 container-xl ">
            @foreach(var book in Model){
            <div class="row p-4">
                <div class="card " style="width:18rem;">
                    <img src="data:image/jpg;base64,@book.Image" class="img-thumbnail mx-auto d-block py-2" alt="..." style="width:20rem;height:30rem">
                    <div class="card-body">
                        <h5 class="card-title">@book.Title</h5>
                        <p class="card-text" style="overflow: hidden; height:5rem">@book.Description</p>
                        <a asp-route-id="@book?.Id" asp-action="Detail" class="d-flex justify-content-end">more detail</a>
                        <div class="card-body">
                            @if (book.IS_borrow)
                            {
                                <a asp-route-id="@book?.Id" asp-action="Return" class="btn d-flex  text-center btn-danger px-5 justify-content-center" style="text-align:center">ไม่ว่าง</a>
                            }
                            else
                            {
                                <a asp-route-id="@book?.Id" asp-action="ConfirmBorrow" class="btn d-flex  btn-success px-5 justify-content-center" style="text-align:center">ยืม</a>
                            }

                        </div>
                    </div>
                </div>
            </div>
            }
    </div>
</div>
}
@section scripts{
    <script>
        function displayAlert(bookID){
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title: "Deleted!",
                        text: "Your file has been deleted.",
                        icon: "success"
                    });
                }
            });
        }
    </script>
}
